aside {
    width: 240px;
    height: 100%;
    box-sizing: border-box;
    background-color: rgb(225, 225, 225);
    float: left;
    position: relative;
    position: fixed;
    top: 50px;
}

aside .streamers-list {
    height: calc(100% - 190px);
    overflow-y: scroll;
}

aside .streamers-list a > span {
    letter-spacing: 1.1px;
}

aside .streamers-list a:link,
aside .streamers-list a:visited {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    color: #000;
    text-decoration: none;
    font-weight: 500;
}

aside .streamers-list a:hover {
    background-color: rgb(210, 210, 210);
}

aside .streamers-list .ava-name-wrap span:hover {
    color: #00f;
}

aside .streamers-list .pulse {
	background: #f00;
	border-radius: 50%;
    margin-right: -30px;
	height: 7px;
	width: 7px;

	box-shadow: 0 0 0 0 rgba(255, 0, 0, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
}

aside .community-links {
    box-sizing: border-box;
    border-top: 1px solid #FFF;
    padding: 15px;
    height: calc(140px);
}

aside .community-wrap {
    background-color: rgb(215, 215, 215);
    padding: 15px;
    border-radius: 4px;
}

aside .community-wrap p {
    line-height: 1.2em;
}

aside .community-wrap p::selection {
    color: #fff;
    background-color:#fcb65a; 
}

aside .community-wrap p {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 15px;
}

aside .community-wrap .links-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 30px;
}

aside .community-wrap .links-wrap a:link,
aside .community-wrap .links-wrap a:visited {
    color: #000;
    text-decoration: none;
}

aside .community-wrap .links-wrap a:hover {
    color: #00f;
    -webkit-transition: color 0.3s linear;
    -o-transition: color 0.3s linear;
    -moz-transition: color 0.3s linear;
    transition: color 0.3s linear;
}


@media all and (max-width: 1200px) {
    aside {
        width: 70px;
    }

    aside .streamers-list {
        height: 100%;
    }

    aside .streamers-list a span,
    aside .community-links,
    aside .streamers-list .pulse {
        display: none;
    }

    .ava-name-wrap {
        width: 100%;
    }
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 5px rgba(255, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
	}
}