main .categories-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-gap: 15px;
    height: 60px;
    overflow-x: scroll;
}

main .categories-list::-webkit-scrollbar {
    display: none;
}

main .categories-list li {
    display: inline-block;
    align-self: center;
    grid-row: 1 / 2;
}

main .categories-list li button {
    width: max-content;
    font-size: 13px;
    font-weight: 500;
    padding: 5px 10px;
    border: 1px solid rgb(190, 190, 190);
    background-color: rgb(220, 220, 220);
    border-radius: 20px;
}

main .categories-list li button:hover:not(.all-category) {
    background-color: rgb(200, 200, 200);
}

main .categories-list button.all-category {
    background-color: #ffc22f;
    border: 1px solid #ffc22f;
    color: #fff;
}