* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body, html {
    height: 100%;
    width: 100%;
}

button {
    border: none;
    background-color: #FFF;
    cursor: pointer;
}

.ava-name-wrap {
    display: flex;
    align-items: center;
    width: 60%;
}

.ava-name-wrap span {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 15px;
    box-sizing: border-box;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

header .search-bar .search-button:hover,
header .search-bar .search-button,
header .user-control-wrap .drop-down-menu-button:hover,
header .user-control-wrap .drop-down-menu-button  {
    -webkit-transition: background-color 0.3s linear;
    -o-transition: background-color 0.3s linear;
    -moz-transition: background-color 0.3s linear;
    transition: background-color 0.3s linear;
}

aside .streamers-list::-webkit-scrollbar,
main .categories-list::-webkit-scrollbar {
    display: none;
}

aside .streamers-list,
main .categories-list {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


@keyframes fadein {
    from { opacity: 1; }
    to   { opacity: 0.5; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 1; }
    to   { opacity: 0.5; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 1; }
    to   { opacity: 0.5; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 1; }
    to   { opacity: 0.5; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 1; }
    to   { opacity: 0.5; }
}