header {
    background-color: #fff;
    box-shadow: 0 3px 5px rgb(190, 190, 190);
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    position: fixed;
    right: 0px;
    left: 0px;
    z-index: 2;
}

header h1 a:link,
header h1 a:visited {
    text-decoration: none;
    color: #ffc22f;
    font-size: 30px;
    font-weight: 600;
}

header .search-bar {
    display: flex;
    align-items: center;
    width: 30%;
}

header .search-bar input:focus {
    outline: none !important;
    border: 1px solid blue;
}

header .search-bar input {
    width: 100%;
    height: 30px;
    padding-left: 10px;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 3px 0px 0px 3px;
}

header .search-bar .search-button {
    border: 1px solid rgb(190, 190, 190);
    background-color: rgb(235, 235, 235);
    border-left: none;
    border-radius: 0px 3px 3px 0px;
    height: 30px;
    width: 30px;
}

header .search-bar .search-button:hover {
    background-color: rgb(220, 220, 220);
}

header .search-bar .micro-button,
header .user-control-wrap .notifications-button {
    width: 30px;
    height: 30px;
    color:rgb(190, 190, 190);
}

header .search-bar .micro-button:hover,
header .user-control-wrap .notifications-button:hover {
    color: gray;
}

header .user-control-wrap .drop-down-menu-button {
    background-color:#fcb65a;
    width: 34px;
    height: 34px;
    border-radius: 17px;
    position: relative;
}

header .user-control-wrap .drop-down-menu-button:hover {
    background-color: rgb(190, 190, 190);
}

header .user-control-wrap .drop-down-content {
    width: 170px;
    text-align: left;
    background-color: #fff;
    box-shadow: 0 0 3px rgb(190, 190, 190);
    font-size: 16px;
    font-weight: 550;
    border-radius: 3px;
    visibility: hidden;
    position: absolute;
    top: 40px;
    right: 0px;
    transition: visibility 0.1s;
    -webkit-transition: visibility 0.1s;
    -o-transition: visibility 0.1s;
    -moz-transition: visibility 0.1s;
}

header .user-control-wrap .drop-down-menu-button:hover .drop-down-content {
    visibility: visible;
}

header .user-control-wrap .drop-down-content li {
    padding: 5px 15px;
}

header .user-control-wrap .drop-down-content li i {
    margin-right: 10px;
}

header .user-control-wrap .drop-down-content li:hover {
    background-color: rgb(220, 220, 220);
}

header .user-control-wrap .drop-down-content .log-out-option {
    color: #f00;
    border-top: 1px solid rgb(190, 190, 190);
}