main {
    margin-left: 240px;
    padding: 50px 15px 0px;
    width: calc(100% - 270px);
    position: relative;
}

main .video-content-blocks {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: minmax(300px, 1fr);
    grid-gap: 10px;
}

main .video-block {
    margin-bottom: -30%;
}

main .video-preview {
    width: 100%;
    height: 60%;
    position: relative;
}

main .video-preview img {
    width: 100%;
    height: 100%;
}

main .video-preview .start-button {
    display: none;
    color :#fff;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    margin-left: -16px;
    margin-top: -16px;
}

main .video-preview:hover .start-button {
    display: block;
}

main .video-preview:hover {
    background-color: #000;
}

main .video-preview:hover img {
    animation: fadein 0.3s forwards;
    -webkit-animation: fadein 0.3s forwards;
}

main .video-preview .live-span {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    background-color: #f00;
    color: #fff;
    padding: 3px 6px;
    border-radius: 4px;
    cursor: pointer;
}

main .video-preview .duration-span,
main .video-preview .viewers-span {
    position: absolute;
    right: 5px;
    bottom: 5px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 13px;
    cursor: pointer;
}

main .video-block .description-block {
    padding: 5px 15px 10px;
    display: grid;
    grid-template-columns: 15% 80% 5%;
    grid-template-rows: auto;
}

main .video-block .description-block .avatar {
    grid-row: 1 / 4;
    grid-column: 1 / 2;
}

main .video-block .description-block .video-title {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-bottom: 3px;
    font-weight: 500;
    cursor: pointer;
}

main .video-block .description-block a {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

main .video-block .description-block a:visited,
main .video-block .description-block a:link {
    text-decoration: none;
    color: rgb(170, 170, 170);
}

main .video-block .description-block .video-title:hover {
    color: rgb(0, 0, 255);
}

main .video-block .description-block a:hover {
    color :rgb(0, 0, 255);
}

main .video-block .description-block button {
    grid-row: 1 / 3;
    grid-column: 3 / 4;
}

@media screen and (max-width: 1200px) {
    main {
        margin-left: 70px;
        width: calc(100% - 100px);
    }
}